
@media screen and (min-width: 480px) {
  h1.overlayTitleText{
    color : #ffffff;
    position : absolute;
    margin-left : 8%;
    z-index: 10;
    text-shadow: 4px 2px 5px rgba(150, 150, 150, 1);
  }
}
@media screen and (max-width: 480px) {
  h1.overlayTitleText{
    color : #000000;
    position : absolute;
    margin-left : 2 em;
    z-index: 0;
  }
}

.carousel img{
  object-fit: cover;
  max-height: 625px;
  transform: scale(1.4) translateX(10%);
}
